.App {
    text-align: center;
}

.map {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}
.grid-block {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}
.grid-block:hover {
    background-color: white;
}